<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967905357000-oh3adfpts5tpfbe464mq0pnm0ok2idsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967905357000-oh3adfpts5tpfbe464mq0pnm0ok2idsf</string>
	<key>API_KEY</key>
	<string>AIzaSyAuV3wfmatOKMtG-0RU27DcFIUH1LzwUZA</string>
	<key>GCM_SENDER_ID</key>
	<string>967905357000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xaiur.qrCode</string>
	<key>PROJECT_ID</key>
	<string>qr-code-me</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-code-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967905357000:ios:618f38a4512a63706909fd</string>
</dict>
</plist>